<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="Provider" value="smtp.gmail.com" />
		<add key="UserMail" value="Add o seu gmail" />
		<add key="Password" value="Add a sua senha para aplicativos" />
	</appSettings>
</configuration>

