<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="Provider" value="Informe o provedor" />
		<add key="Port" value= "Informe a porta" />
		<add key="UserMail" value="Informe o email" />
		<add key="Password" value="Informe a senha" />
	</appSettings>
</configuration>

